<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/assets/查询.png" type="image/x-icon">
    <title>曲谱交流平台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :stylesheet %>
    <%= stylesheet_link_tag "style2", "button" %>
  </head>

  <body>
  <div class="outer">
  <div class="header">
      <div class="nav">
          <ul>
              <li><a href="<%= reports_url %>" class="link title">审核评论</a></li>
              <li><a href="<%= manipulators_url %>" class="link">所有操作者</a></li>
              <li><a href="<%= songs_url %>" class="link">首页</a></li>
          </ul>
      </div>
      <div style="width: 100px; height:70px; float: right;"></div>
      <%= yield :state %>
  </div>
  <div class="main">
    <%= yield %>
  </div>
  </div>
    <%= yield :javascript %>
  </body>
</html>
