<% content_for :stylesheet do %>
    <%= stylesheet_link_tag "style1", "button" %>
<% end %>
<p style="color: green"><%= notice %></p>
<div class="main">
    <div class="title">
        <h1>管理员注册</h1>
    </div>
    <div class="content">
        <%= form_with url: do_register_manipulators_path do %>
            <%= hidden_field_tag(:类型, "管理员") %>
            <div>
                <div class="div1"><span>名称:</span></div>
                <div class="div2"><%= text_field_tag :名称 %></div>
            </div>
            <div>
                <div class="div1"><span>密码:</span></div>
                <div class="div2">
                    <%= password_field_tag :密码 %>
                    <div class="show-button">显示密码</div>
                </div>
            </div>
            <div>
                <%= submit_tag '注册', class: "submit1" %>
            </div>
        <% end %>
        <div>
            <%= link_to '返回界面', songs_url, class: "submit2" %>
        </div>
    </div>
</div>
<div class="nav">
    <%= link_to '用户注册', user_register_manipulators_url, class: "link" %>
    <%= link_to '管理员注册', manager_register_manipulators_url, class: "link link-title" %>
    <%= link_to '用户登录', user_login_manipulators_url, class: "link" %>
    <%= link_to '管理员登录', manager_login_manipulators_url, class: "link" %>
</div>