<% if false %>
<div id="<%= dom_id song_type %>">
  <p>
    <strong>名称:</strong>
    <%= song_type.名称 %>
  </p>

</div>
<% end %>
<div class="main">
<h3 class="main-header">
  <%= image_tag 'icon5.png' %>
  <span><%= song_type.名称 %></span>
</h3>
<ul class="main-content clearfix">
<% song_type.songs.each_with_index do |song, index| %>
  <% if ((index + 1) % 4 == 0) %>
    <li class="recommend clear">
  <% else %>
    <li class="recommend">
  <% end %>
  <a href="<%= song_url(song) %>" class="touch">
      <div class="touch1"></div>
      <img src="assets/icon5.png" alt="" class="zoom">
  </a>
  <p class="recommend-content"><%= song.名称 %></p>
  <p class="recommend-content"><%= song.演唱 %> | <%= song.作词 %> | <%= song.作曲 %></p>
  <p class="recommend-content"><%= song.manipulator.名称 %></p>
  </li>
<% end %>
</ul>
<div style="padding-bottom:10px;">
  <%= link_to "Edit this song type", edit_song_type_path(song_type), class:"click_button" %> | 

  <%= button_to "Destroy this song type", song_type, method: :delete, class:"click_button" %>
</div>
</div>