<% content_for :stylesheet do %>
  <%= stylesheet_link_tag "song_page" %>
<% end %>
<% content_for :title do %>
  <li><a href="<%= song_types_url %>" class="link">首页</a></li>
  <li><a href="<%= songs_url %>" class="link title">曲谱</a></li>
  <% if current_manipulatorid %>
    <li><a href="<%= my_page_manipulators_url(current_manipulatorid) %>" class="link">我的主页</a></li>
  <% end %>
  <% if current_manipulatorid and current_manipulatortype == "管理员" %>
    <li><a href="<%= reports_url %>" class="link">管理员界面</a></li>
  <% end %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag "jquery.min", "comment" %>
<% end %>
<div class="body">
    <div class="main">

        <%= render @song %>

        <% if false %>
        <p style="color: green"><%= notice %></p>

        <%= render @song %>
        <% end %>

          <div class="song">
            <h3 class="Comment_header">
              <%= image_tag 'icon9.png' %>
              <span>曲谱</span>
            </h3>
            <%= render :partial => @song.pictures %>
          </div>

          <%= form_for [@song, Picture.new] do |f| %>
            <% if alert.class == Hash %>
              <% alert.each do |key,values| %>
                <p style="color: blue"><%= key %>
                <% values.each do |value| %>
                  <%= value %>
                <% end %>
                </p>
              <% end %>
            <% else %>
              <p style="color: blue"><%= alert %></p>
            <% end %>
            <div style="padding-bottom:10px;">
              <%= f.label :图片, style: "display: block" %>
              <%= f.file_field :图片, :multiple => true %>
            </div>
          
            <div style="padding-bottom:10px;">
              <%= f.submit "上传图片", class:"click_button" %>
            </div>
          <% end %>

          <div class="Comment">
          <h3 class="Comment_header">
              <%= image_tag 'icon3.png' %>
              <span>评论</span>
          </h3>
          <%= form_for [@song, Comment.new] do |f| %>
            <% if notice.class == Hash %>
              <% notice.each do |key,values| %>
                <p style="color: blue"><%= key %>
                <% values.each do |value| %>
                  <%= value %>
                <% end %>
                </p>
              <% end %>
            <% else %>
              <p style="color: blue"><%= notice %></p>
            <% end %>
            <div class="Comment_Block">
            <div class="Input_Box">
                <%= f.text_area :内容, placeholder: "评论内容", maxlength: "500", class: "Input_text" %>
                <div class="faceDiv"></div>
                <div class="Input_Foot">
                    <a class="imgBtn" href="javascript:void(0);"></a>
                    <%= f.submit "发表评论", class: "postBtn" %>
                    <div class="Input_tips">还可以输入<span class="tips_word">500</span>字符</div>
                </div>
            </div>
            </div>
          <% end %>

          <div class="Comment_all">
          <h3 class="Comment_header">
              <%= image_tag 'icon4.png' %>
              <span>所有评论</span>
          </h3>
          <% if message.class == Hash %>
            <% message.each do |key,values| %>
              <p style="color: blue"><%= key %>
              <% values.each do |value| %>
                <%= value %>
              <% end %>
              </p>
            <% end %>
          <% else %>
            <p style="color: blue"><%= message %></p>
          <% end %>
          <%= render :partial => @song.comments %>
          </div>
      </div>
    </div>
</div>