<tr>
    <td><%= report.内容 %><a href="/songs/<%= report.comment.song.id %>#comment-<%= report.comment.id %>"></a></td>
    <td><%= report.manipulator.名称 %><a href="/songs/<%= report.comment.song.id %>#comment-<%= report.comment.id %>"></a></td>
    <td><%= report.comment.内容 %><a href="/songs/<%= report.comment.song.id %>#comment-<%= report.comment.id %>"></a></td>
    <% if params[:状态] == "待审核" or params[:状态] == nil %>
      <td>
        <%= button_to "通过", report, name: "状态", value: "已通过", method: :delete, class: "accept" %>
        <%= button_to "驳回", report, name: "状态", value: "已驳回", method: :delete, class: "reject" %>
      </td>
    <% end %>
</tr>