<% content_for :state do %>
  <div class="search">
  <%= form_tag("/reports", method: "get") do %>
    <div class="search1">
      <%= label_tag(:状态, "审核状态: ") %>
      <%= select_tag(:状态, options_for_select(["待审核", "已驳回"], params[:状态] != nil ? params[:状态] : "待审核")) %>
      <%= submit_tag("提交") %>
    </div>
  <% end %>
  </div>
<% end %>

<table width="100%" cellpadding="0" cellspacing="0">
<thead>
<tr>
    <td>举报原因</td>
    <td>举报者</td>
    <td>被举报评论内容</td>
    <% if params[:状态] == "待审核" or params[:状态] == nil %>
      <td>操作</td>
    <% end %>
</tr>
</thead>
<tbody>
<% @reports.each do |report| %>
  <%= render report %>
<% end %>
</tbody>
</table>